<!--
 * @Descripttion: 
 * @Author: cbing
 * @Date: 2019-06-10 14:42:00
 * @LastEditors: cbing
 * @LastEditTime: 2019-08-24 18:15:04
 -->
<script>
	{if condition="(!isset($search)) OR (!$search)"}
	var search = 0;
	var goUrl = "/{$Request.module}/wine_deal_area/lst.html";
	{else/}
	var search = {$search};
	var goUrl = "/{$Request.module}/wine_deal_area/search.html";
	{/if} 
</script>
                        
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <!--<th>会员ID</th>-->
                                    <th>会员名称</th>
                                    <th>会员手机号</th>
                                    <th>预约金额</th>
                                    <th>预约日期</th>
                                    <th>团队/预约/参与</th>
                                    <th>是否参与</th>
                                    <th>参与时间</th>
                                    <th>是否返还</th>
                                    <th>返还时间</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="count($list)"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <td>{$v.id}</td>
                                    <!--<td>{$v.m_id}</td>-->
                                    <td>
                                        {$v['true_name']?$v['true_name']:$v['user_name']}
                                    </td>
                                    <td>{$v.phone}</td>
                                    <td>{$v.frozen_fuel}</td>
                                    <td>{$v.addtime|date="Y-m-d H:i:s", ###}</td>
                                    <td>
                                        <label for="" onclick="team_count({$v['buy_id']}, {$time}, {$end_time})" style="color:blue;">{$v['team_count']}</label>
                                        /
                                        <label for="" onclick="team_record_count({$v['buy_id']}, {$v['wine_deal_area_id']}, {$v['wine_goods_id']}, {$time}, {$end_time})" style="color:blue;">{$v['team_record_count']}</label>
                                        /
                                        <label for="" onclick="team_canyu_count({$v['buy_id']}, {$v['wine_deal_area_id']}, {$v['wine_goods_id']}, {$time}, {$end_time})" style="color:blue;">{$v['team_canyu_count']}</label>
                                    </td>
                                    <td>
                                        {if condition="$v['woq_id']"}
                                        是
                                        {else /}
                                        否
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$v.woq_addtime"}
                                            {$v.woq_addtime|date="Y-m-d H:i:s", ###}
                                        {else /}
                                            /
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$v['status']==1"}
                                        是
                                        {else /}
                                        否
                                        {/if}
                                    </td>
                                    <td>
                                        {if condition="$v.updatetime"}
                                            {$v.updatetime|date="Y-m-d H:i:s", ###}
                                        {else /}
                                            /
                                        {/if}
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="14" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}						
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>

<script>
function yuyue(id,obj){
	if(search == 0){
		var editUrl = url+'/yuyue/id/'+id;
	}else{
		var editUrl = url+'/yuyue/id/'+id;
	}
	layer.open({
		type : 2,
		title : false,
		shadeClose : false,
		shade : 0.5,
		area : ['90%','90%'],
		content : editUrl
	});
}

function team_count(id, time, end_time){
	if(search == 0){
		var editUrl = url+'/team_count/id/'+id+'/time/'+time+'/end_time/'+end_time;
	}else{
		var editUrl = url+'/team_count/id/'+id+'/time/'+time+'/end_time/'+end_time;
	}
	layer.open({
		type : 2,
		title : false,
		shadeClose : false,
		shade : 0.5,
		area : ['90%','90%'],
		content : editUrl
	});
}

function team_record_count(id,wine_deal_area_id,wine_goods_id, time, end_time){
	if(search == 0){
		var editUrl = url+'/team_record_count/id/'+id+'/wine_deal_area_id/'+wine_deal_area_id+'/wine_goods_id/'+wine_goods_id+'/time/'+time+'/end_time/'+end_time;
	}else{
		var editUrl = url+'/team_record_count/id/'+id+'/wine_deal_area_id/'+wine_deal_area_id+'/wine_goods_id/'+wine_goods_id+'/time/'+time+'/end_time/'+end_time;
	}
	layer.open({
		type : 2,
		title : false,
		shadeClose : false,
		shade : 0.5,
		area : ['90%','90%'],
		content : editUrl
	});
}

function team_canyu_count(id,wine_deal_area_id,wine_goods_id, time, end_time){
	if(search == 0){
		var editUrl = url+'/team_canyu_count/id/'+id+'/wine_deal_area_id/'+wine_deal_area_id+'/wine_goods_id/'+wine_goods_id+'/time/'+time+'/end_time/'+end_time;
	}else{
		var editUrl = url+'/team_canyu_count/id/'+id+'/wine_deal_area_id/'+wine_deal_area_id+'/wine_goods_id/'+wine_goods_id+'/time/'+time+'/end_time/'+end_time;
	}
	layer.open({
		type : 2,
		title : false,
		shadeClose : false,
		shade : 0.5,
		area : ['90%','90%'],
		content : editUrl
	});
}
</script>