<!--
 * @Descripttion: 
 * @Copyright: ©版权所有
 * @Link: www.s1107.com
 * @Contact: QQ:2487937004
 * @LastEditors: cbing
 * @LastEditTime: 2020-05-01 18:40:18
 -->
<script>
	var pnum = {$pnum};
	{if condition="(isset($filter)) AND ($filter)"}
	var filter = {$filter};
	{/if}
	{if condition="!isset($search) && !isset($cate_id)"}
	var search = 0;
	var cate_id = 0;
	var goUrl = "/{$Request.module}/integral_goods/lst/filter/"+filter+".html?page="+pnum;
	{elseif condition="isset($search) && $search" /}
	var search = {$search};
	var cate_id = 0;
	var goUrl = "/{$Request.module}/integral_goods/search.html?page="+pnum;
	{elseif condition="isset($cate_id) && $cate_id" /}
	var cate_id = {$cate_id};
	var search = 0;
	var goUrl = "/{$Request.module}/integral_goods/catelist/cate_id/"+cate_id+"/filter/"+filter+".html?page="+pnum;
	{/if}
</script>                      
                 <style type="text/css" media="all">
                     .table.table-hover th, .table.table-hover td{
                         padding: 2px;
                         text-align: center;
                         line-height: 1.8;
                     }
                 </style>       
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <!--<th>-->
                                    <!--    <input type="checkbox" name="" id="" />-->
                                    <!--</th>-->
                                    <th>ID</th>
                                    <th>订单编号</th>
                                    <th>商品名称</th>
                                    <th>成交金额</th>
                                    <th>买家</th>
                                    <th>买家手机</th>
                                    <th>卖家</th>
                                    <th>卖家手机</th>
                                    <th>付款凭证</th>
                                    <th>订单时间</th>
                                    <th>支付状态</th>
                                    <th>归属责任</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {if condition="$list->isEmpty() == false"}
							{foreach name="list" item="v"} 
                                <tr>
                                    <!--<td>-->
                                    <!--    <input type="checkbox" name="" id="" />-->
                                    <!--</td>-->
                                    <td>{$v.id}</td>
                                    <td>{$v.odd}</td>
                                    <td>{$v.goods_name}</td>   
                                    <td>{$v.buy_amount}元</td>
                                    <td>{$v.b_true_name ? $v.b_true_name : $v.b_user_name}</td>
                                    <td>{$v.b_phone}</td>
                                    <td>{$v.m_true_name ? $v.m_true_name : $v.m_user_name}</td>
                                    <td>{$v.m_phone}</td>
                                    <td>
                                        {if condition="$v.proof_qrcode"}
                                        <img src="{$v.proof_qrcode}" width="80px" height="80px"/></td>
                                        {else /}
                                        
                                        {/if}
                                    <td>{$v.addtime|date="Y-m-d H:i:s", ###}</td>
                                    <td>{$v.pay_status==0?'未支付':'已支付'}</td>
                                    <td>{$v.attech_zeren==1 ? '买家未付款-卖家责任' : ($v.attech_zeren==2 ? '卖家未付款-买家责任' : ($v.attech_zeren==3 ? '卖家待确认-买家责任' : ($v.attech_zeren==4 ? '卖家待确认-卖家责任' : '')))}</td>
                                    <td>
                                        {if condition="$v.attech_zeren==0"}
                                        <button type="button" class="btn btn-primary btn-xs" onclick="zerenSplit({$v.id}, this);"><i class="fa fa-pencil"></i>&nbsp;责任划分</button>
                                        {/if}
                                    </td>
                                </tr>
							{/foreach}
							{else/}
							<tr><td colspan="25" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
							{/if}								
                            </tbody>
                        </table>
                        <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>


    <script src="/static/admin/js/jquery.min.js?v=2.1.4"></script>  
    <script type="text/javascript" charset="utf-8">
        function zerenSplit(id, obj){
            var editUrl = url+'/zerenSplit/id/'+id;
            layer.open({
                type : 2,
                title : '责任划分',
                shadeClose : true,
                shade : 0.5,
                area : ['80%','90%'],
                content : editUrl
            });
        }
    
        $('.table').on("click", "img", function(){
            var src = $(this).attr('src');
            
            layer.open({
                content: '<img src="'+src+'" style="max-width:305px;max-height: 600px;" />'
            });
        });
        
        function del(id, obj){
            layer.confirm('是否确认删除吗？', {
                btn: ['删除', '取消']
            }, function(index){
                $.ajax({
                    url: "{:url('WineSale/del')}",
                    type: "post",
                    data: {
                        id: id
                    },
                    success: function(res){
                        if(res == 1){
                            layer.msg('删除成功');
                            
                            setTimeout(function(){
                                location.reload();
                            }, 1000)
                        }
                        else{
                            layer.msg('删除失败');
                        }
                    }
                })
            })
        }
        
    </script>
    