<div class="left-box">
    <ul id="sidebarMenu" class="wtm-sidebar">
        <li class="side-menu"><a href="javascript:void(0)" key="trade">
            <h3>交易中心</h3>
        </a>
            <ul>
                <li><a href="https://store.cxy365.com/index.php?w=member_order&t=index">实物交易订单</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_order_vr&t=index">虚拟兑码订单</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_evaluate&t=list">交易评价/晒单</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_appoint&t=list">预约/到货通知</a></li>
            </ul>
        </li>
        <li class="side-menu"><a href="javascript:void(0)" key="follow">
            <h3>关注中心</h3>
        </a>
            <ul>
                <li><a href="https://store.cxy365.com/index.php?w=member_favorite_goods&t=index">商品收藏</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_favorite_store&t=index">店铺收藏</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_goodsbrowse&t=list">我的足迹</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_flea&t=index">我的闲置</a></li>
            </ul>
        </li>
        <li class="side-menu"><a href="javascript:void(0)" key="client">
            <h3>客户服务</h3>
        </a>
            <ul>
                <li><a href="https://store.cxy365.com/index.php?w=member_refund&t=index">退款及退货</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_complain&t=index">交易投诉</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_consult&t=my_consult">商品咨询</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_inform&t=index">违规举报</a></li>
                <li><a href="https://store.cxy365.com/index.php?w=member_mallconsult&t=index">平台客服</a></li>
            </ul>
        </li>
        <li class="side-menu"><a href="javascript:void(0)" key="info">
            <h3>会员资料</h3>
        </a>
            <ul>
                <li><a href="https://store.cxy365.com/home/index.php?w=member_information&t=member">账户信息</a></li>
                <li><a href="https://store.cxy365.com/home/index.php?w=member_address&t=address">收货地址</a></li>
            </ul>
        </li>
        <li class="side-menu"><a href="javascript:void(0)" key="property">
            <h3>财产中心</h3>
        </a>
            <ul>
                <li><a href="https://store.cxy365.com/home/index.php?w=predeposit&t=pd_log_list">账户余额</a></li>
                <li><a href="https://store.cxy365.com/home/index.php?w=member_voucher&t=index">我的代金券</a></li>
                <li><a href="https://store.cxy365.com/home/index.php?w=member_coupon&t=index">我的优惠券</a></li>
                <li><a href="https://store.cxy365.com/home/index.php?w=member_invite&t=index">我的推广</a></li>
            </ul>
        </li>
    </ul>
</div>