<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>

<script>
    var url = "/{$Request.module}/school";
    var deleteUrl = "{:url('school/delete')}";
    var deleteCourseUrl = "{:url('school/deleteCourse')}";
    var sortUrl = "{:url('school/order')}";
</script>

<body class="gray-bg">
<div class="wrapper wrapper-content" id="server">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>课程列表</h5>
                </div>
                <div class="ibox-content" style="padding-bottom: 0;">
                    <div class="row">
                        <form action="{:url('School/course_list')}" method="post" id="form_search">
                            <div class="col-sm-3" style="float:right;">
                                <div class="input-group">
                                    <input type="text" name="keywords" placeholder="搜索标题|描述相关数据" {if condition="(isset($keywords)) AND ($keywords)"}value="{$keywords}"{/if} class="input-sm form-control" /><span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">搜索</button></span>
                                </div>
                            </div>
                            <div class="layui-form-item" style="display: inline-block;float: right;">
                                <div class="layui-input-block">
                                    <select name="teacher_id" lay-verify="required">
                                        <option value="">选择老师</option>
                                        {volist name="teachers" id="vo"}
                                        <option value="{$vo['teacher_id']}" {if condition="$teacher_id == $vo['teacher_id']"}selected{/if}>{$vo['title']}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item" style="display: inline-block;float: right;margin-right: 10px;">
                                <div class="layui-input-block">
                                    <select name="catid" lay-verify="required">
                                        <option value="">选择分类</option>
                                        {volist name="cats" id="vo"}
                                        <option value="{$vo['catid']}" {if condition="$catid == $vo['catid']"}selected{/if}>{$vo['catname']}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-8 m-b-xs">
                            <a href="{:url('school/add_course')}"><button type="button" class="btn btn-sm btn-primary" id="add" style="margin-right:15px;"><i class="fa fa-plus" style="color:#FFF;"></i>&nbsp;增加课程</button></a>
                        </div>
                    </div>

                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width:3%">ID</th>
                            <th style="width:7%">发布人</th>
                            <th style="width:10%">老师</th>
                            <th style="width:17%">标题</th>
                            <th style="width:18%">描述</th>
                            <th style="width:4%">课时数</th>
                            <th style="width:4%">评论数</th>
                            <th style="width:4%">点赞数</th>
                            <th style="width:9%">发布时间</th>
                            <th style="width:5%">是否显示</th>
                            <th style="width:5%">是否推荐</th>
                            <th style="width:5%">是否热门</th>
                            <th style="width:9%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="$list"}
                        {foreach name="list" item="vo"}
                        <tr>
                            <td align="left" class="">
                                {$vo.course_id}
                            </td>
                            <td align="left" class="">
                                {$vo.nickname}
                            </td>
                            <td align="left" class="">
                                {$vo.t_title}
                            </td>
                            <td align="left" class="">
                                {$vo.title}
                            </td>
                            <td align="left" class="">
                                {$vo.description}
                            </td>
                            <td align="left" class="" style="width: 400px;">
                                {$vo.coursenum}
                            </td>
                            <td align="left" class="" style="width: 400px;">
                                {$vo.feednum}
                            </td>
                            <td align="left" class="" style="width: 400px;">
                                {$vo.bestnum}
                            </td>
                            <td align="left" class="" style="width: 400px;">
                                {$vo.addtime|date="Y-m-d H:i:s", ###}
                            </td>
                            <td align="center" class="">
                                {switch name="vo.useable"}
                                {case value="0"}<button class="btn btn-danger btn-xs" type="button" onclick="changeCoursTableVal({$vo.course_id},'useable',this);"><i class="fa fa-times"></i></button>{/case}
                                {case value="1"}<button class="btn btn-primary btn-xs" type="button" onclick="changeCoursTableVal({$vo.course_id},'useable',this);"><i class="fa fa-check"></i></button>{/case}
                                {/switch}
                            </td>
                            <td align="center" class="">
                                {switch name="vo.isrec"}
                                {case value="0"}<button class="btn btn-danger btn-xs" type="button" onclick="changeCoursTableVal({$vo.course_id},'isrec',this);"><i class="fa fa-times"></i></button>{/case}
                                {case value="1"}<button class="btn btn-primary btn-xs" type="button" onclick="changeCoursTableVal({$vo.course_id},'isrec',this);"><i class="fa fa-check"></i></button>{/case}
                                {/switch}
                            </td>
                            <td align="center" class="">
                                {switch name="vo.ishot"}
                                {case value="0"}<button class="btn btn-danger btn-xs" type="button" onclick="changeCoursTableVal({$vo.course_id},'ishot',this);"><i class="fa fa-times"></i></button>{/case}
                                {case value="1"}<button class="btn btn-primary btn-xs" type="button" onclick="changeCoursTableVal({$vo.course_id},'ishot',this);"><i class="fa fa-check"></i></button>{/case}
                                {/switch}
                            </td>
                            <td align="center" class="handle">
                                <a class="btn blue" href="{:url('Admin/School/edit_course',array('course_id'=>$vo['course_id']))}">编辑</a>
                                <a class="btn blue"  href="javascript:void(0)" data-url="{:url('Admin/School/delHandle')}" data-id="{$vo.course_id}" data-kind="course" onclick="delcourseone({$vo.course_id},this);">删除</a>
                                <a class="btn blue" href="{:url('Admin/School/video_list',array('course_id'=>$vo['course_id']))}">查看视频</a>
                            </td>
                        </tr>
                        {/foreach}
                        {else/}
                        <tr><td colspan="7" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
                        {/if}
                        </tbody>
                    </table>
                    <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .handle a{
        padding:0;
    }

</style>
<!-- 全局js -->
<script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/admin/js/common/catecommon.js"></script>
<script src="__PUBLIC__/admin/js/common/ajax.js"></script>
</body>
</html>