<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Huploadify/Huploadify.css"/>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>

<script>
    // var pnum = {$pnum};
    // {if condition="(!isset($search)) && (!isset($cate_id))"}
    // var url = "/{$Request.module}/shop_news_art/lst.html?page="+pnum;
    // {elseif condition="(isset($search)) && ($search)"/}
    // var url = "/{$Request.module}/shop_news_art/search.html?page="+pnum;
    // {elseif condition="(isset($cate_id)) && ($cate_id)"/}
    // var cate_id = {$cate_id};
    // var url = "/{$Request.module}/shop_news_art/catelist/cate_id/"+cate_id+".html?page="+pnum;
    // {/if}
</script>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>增加老师</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" id="form">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户id</label>
                                <div class="col-sm-6">
                                    <input type="text" name="user_id" class="form-control" value="{$info['user_id']}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">老师名称</label>
                                <div class="col-sm-6">
                                    <input type="text" name="title" class="form-control" value="{$info['title']}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">老师称号</label>
                                <div class="col-sm-6">
                                    <input type="text" name="ranktitle" class="form-control" value="{$info['ranktitle']}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">老师简介</label>
                                <div class="col-sm-6">
                                    <textarea id="cate_desc" name="description" class="form-control" rows="6"> {$info['description']}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否显示</label>
                                <div class="col-sm-6" id="atype">
                                    <label class="radio-inline"><input type="radio" checked="checked" {if condition="$info['useable'] eq 1"}checked="checked"{/if} value="1" name="useable">显示</label>
                                    <label class="radio-inline"><input type="radio" value="0" {if condition="$info['useable'] eq 0"}checked="checked"{/if} name="useable">不显示</label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
							
                            <div class="form-group">
							<label  class="col-sm-2 control-label">头像上传:</label>
							<div class="col-sm-6">
                            <div style="margin-bottom:7px; margin-top:5px;">
                            <img id="imageinfo" {if condition="$info['imgurl']"}src="/{$info.imgurl}"{else/}src="__PUBLIC__/admin/img/nopic.jpg"{/if} width="180" height="120" border="0" />
                            <br/><button type="button" class="btn btn-danger btn-xs del" style="display:none;">删除</button>
                            </div>
                            <div id="uploaderInput"></div>
                            <input type="hidden" name="pic_id" value="" >
                            <div class="repicm" style="display:none;">{$info.imgurl}</div>
                            </div>
                            </div>	
							
                            <!-- <div class="form-group"> -->
                                <!-- <label  class="col-sm-2 control-label">头像上传:</label> -->
                                <!-- <div class="col-sm-6"> -->
                                <!-- <div style="margin-bottom:7px; margin-top:5px;"> -->
                                <!-- <img id="imageinfo" {if condition="$info['imgurl']"}src="/{$info.imgurl}"{else/}src="__PUBLIC__/admin/img/nopic.jpg"{/if} width="180" height="120" border="0" /> -->
                                <!-- <br/><button type="button" class="btn btn-danger btn-xs del" style="display:none;">删除</button> -->
                            <!-- </div> -->

                            <div class="hr-line-dashed"></div>
                            <div id="uploaderInput"></div>

                            <input type="hidden" name="pic_id" value="" >
                            </div>


                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">老师介绍</label>
                                <div class="col-sm-10">
                                    <textarea id="ar_content" name="content">{$info['content']}</textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <input type="hidden" name="teacher_id" value="{$info.teacher_id}" />

                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="doSubmit">保存内容</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/admin/Huploadify/jquery.Huploadify.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>
<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    UE.getEditor('ar_content', {initialFrameWidth:'100%', initialFrameHeight:500, enterTag:''});

    var pnum = {$pnum};
    {if condition="(!isset($search)) && (!isset($teacher_id))"}
    var url = "/{$Request.module}/school/teacherlist.html?page="+pnum;
    {elseif condition="(isset($search)) && ($search)"/}
    var url = "/{$Request.module}/school/search.html?page="+pnum;
    {elseif condition="(isset($teacher_id)) && ($teacher_id)"/}
    var cate_id = {$teacher_id};
    var url = "/{$Request.module}/school/teacherlist/teacher_id/"+cate_id+".html?page="+pnum;
    {/if}
    var updateUrl = "{:url('school/edit_teacher')}";
</script>
	 <script>
    	$(function(){
    		//上传图片
	        $('#uploaderInput').Huploadify({
	            uploader : '{:url("school/uploadify")}',
		        method:'post',
		        formData:null,//发送给服务端的参数，格式：{key1:value1,key2:value2}
		        buttonText : '上传图像',
		        removeTimeout: 2000,
		        fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
		        fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
		        fileObjName: 'filedata', //上传附件$_FILE标识
		        fileSizeLimit : 2048,
		        //showUploadedPercent:false,//是否实时显示上传的百分比，如20%
		        auto : true, //开启,自动上传
		        multi : false, //开启,多选文件
		        //开始上传
				onUploadStart:function(file){
					layer.load(2);
				},
		        onUploadSuccess : function(file, data, response) {
		        	//解析成json对象
		        	eval('var data='+data);
		        	if(data.status == 1){
		        		var picpath = data.path;
	    	        	$('#imageinfo').attr('src','/'+picpath.img_url);
	    	        	$('.del').show();
	    	        	$('input[name=pic_id]').val(picpath.pic_id);
		        	}else{
		        		layer.msg(data.msg, {icon: 2,time: 2000});
		        	}
		        },
		        //上传完成后执行的操作
		        onUploadComplete:function(file){
		        	layer.closeAll('loading');
		        },
		        //上传错误
		        onUploadError : function(file, errorCode, errorMsg, errorString) {
		        	layer.msg('文件' + file.name + '上传失败:' + errorString, {icon: 2,time: 2000});
		        }
		    });

    		$('.del').click(function(){
    			layer.load(2);
    			$.ajax({
    				url:'{:url("school/delfile")}',
    				type:'POST',
    				data:{'zspic_id':$('input[name=pic_id]').val()},
    				dataType:'json',
    				success:function(data){
    					if(data == 1){  
    						layer.closeAll('loading');
    						$('input[name=pic_id]').val('');
    						var picval = $('.repicm').text();
    						if(picval != ''){
        						$('#imageinfo').attr('src','/'+picval);
    						}else{
    							$('#imageinfo').attr('src','__PUBLIC__/admin/img/nopic.jpg');
    						}
    						$('.del').hide();
    					}else{
    						layer.closeAll('loading');
    						layer.msg('删除临时图片失败', {icon: 2,time: 1000});
    					}
    				},
    		        error:function(){
    		        	layer.closeAll('loading');
    		        	layer.msg('操作失败，请重试', {icon: 2,time: 2000});
    		        }
    			});
    		});
			
    		<!-- $('.del').click(function(){ -->
    			<!-- layer.load(2); -->
    			<!-- $.ajax({ -->
    				<!-- url:'{:url("school/delfile")}', -->
    				<!-- type:'POST', -->
    				<!-- data:{'zspic_id':$('input[name=pic_id]').val()}, -->
    				<!-- dataType:'json', -->
    				<!-- success:function(data){ -->
    					<!-- if(data == 1){ -->
    						<!-- layer.closeAll('loading'); -->
    						<!-- $('input[name=pic_id]').val(''); -->
    						<!-- $('#imageinfo').attr('src','__PUBLIC__/admin/img/nopic.jpg'); -->
    						<!-- $('.del').hide(); -->
    					<!-- }else{ -->
    						<!-- layer.closeAll('loading'); -->
    						<!-- layer.msg('删除临时图片失败', {icon: 2,time: 1000}); -->
    					<!-- } -->
    				<!-- }, -->
    		        <!-- error:function(){ -->
    		        	<!-- layer.closeAll('loading'); -->
    		        	<!-- layer.msg('操作失败，请重试', {icon: 2,time: 2000}); -->
    		        <!-- } -->
    			<!-- }); -->
    		<!-- }); -->

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

    	    var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
        	$('#form').validate({
	        	errorElement : 'span',
	        	debug: true,//只验证不提交表单
	        	//layer ajax提交表单
	            submitHandler:function(){
	               // 序列化 表单数据 后提交 ，太简洁了
	            	post(updateUrl,'POST',$('#form').serialize(),1);
	                return false;
	            },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法

	        	rules:{
	        		cate_name:{required:true},
	        		sort:{
	        			required:true,
	        			digits:true
	        	    }
	        	},

	        	messages:{
	        		cate_name:{required:icon+'必填'},
	                sort:{
	                	required:icon+'必填',
	                	digits:icon+'排序必须是整数'
	                }
	        	}
        	});
      });

    </script>


    <script>
	    function cl(){
	        location.href = url;
	    }
    </script>

</body>
</html>
