<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商家入驻</title>
    <meta name="keywords" content="{$Think.config.keywords}">
    <meta name="description" content="{$Think.config.description}">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/double-date.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/Huploadify/Huploadify.css"/>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.cityselect.js"></script>
    <script src="__PUBLIC__/admin/js/double-date.js"></script>
</head>
<script>
var xuanzeUrl = "{:url('apply_info/xuanze')}";
</script>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商家入驻资料申请</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">申请类型：</label>
                            <div class="col-sm-4">
                                  <label class="radio-inline"><input type="radio" name="apply_type" checked="checked" value="1">个人入驻</label>
                                  <label class="radio-inline"><input type="radio" name="apply_type" value="2">企业入驻</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div> 
                        
                        

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit" id="doSubmit">下一步</button>
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                <a href="{:url('Login/logout')}" class="btn btn-danger">退出登录</a>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/admin/Huploadify/jquery.Huploadify.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>	
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>
 
<script type="text/javascript">
    $(function(){
        $('#doSubmit').click(function(){
        	var apply_type = $('input:radio[name=apply_type]:checked').val();
            if(apply_type == 1){
            	location.href="{:url('apply_info/personapply')}";
            }else if(apply_type == 2){
            	location.href="{:url('apply_info/comapply')}";
            }
        });
		
    });


</script>
</body>
</html>
