<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                <h5>系统提示</h5>
                </div>
                <div class="ibox-content">
                 <p style="font-size:14px;">您提交的商家申请资料被拒绝~</p>
                 <p style="font-size:14px;">拒绝原因：{$remarks}</p>
                        <div class="form-group">
                        <a href="{:url('apply_info/apply')}"><button class="btn btn-primary" type="button" style="margin-right:25px;">重新申请</button></a>
						<a href="{:url('login/loginout')}" class="btn btn-danger">退出登录</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
