<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/page.css" rel="stylesheet">
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
</head>

<script>
    var url = "/{$Request.module}/Community";
    var deleteUrl = "{:url('Community/delete')}";
</script>

<body class="gray-bg">
<div class="wrapper wrapper-content" id="server">

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>军人列表</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width:5%">ID</th>
                            <th style="width:10%">用户名</th>
                            <th style="width:10%">手机号码</th>
                            <th style="width:15%">注册时间</th>
                            <th style="width:15%">所属军区</th>
                        </tr>
                        </thead>
                        <tbody>
                        {if condition="$list"}
                        {foreach name="list" item="vo"}
                        <tr>
                            <td align="left" class="">
                                {$vo.id}
                            </td>
                            <td align="left" class="">
                                {$vo.user_name}
                            </td>
                            <td align="left" class="">
                                {$vo.phone}
                            </td>
                            <td align="left" class="">
                                {$vo.regtime|date="Y-m-d H:i:s", ###}
                            </td>
                            <td align="left" class="">
                                {$vo.soldier_type.name}
                            </td>
                        </tr>
                        {/foreach}
                        {else/}
                        <tr><td colspan="7" style="text-align:center; font-size:14px;">没有找到相关数据</td></tr>
                        {/if}
                        </tbody>
                    </table>
                    <div class="row"><div class="pagination" style="float:right; margin-right:20px;">{$page}</div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .handle a{
        padding:0;
    }

</style>
<!-- 全局js -->
<script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
<script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/admin/js/common/catecommon.js"></script>
<script src="__PUBLIC__/admin/js/common/ajax.js"></script>
</body>
</html>