
<!--导航开始-->
<ul class="nav">
    <li class="ml10"><a href="#"><span>首页</span></a></li>
    <li><a href="#/brand.html">品牌</a></li>
    <li><a href="#/robbuy.html">抢购</a></li>
    <li><a href="#/sale.html">促销</a></li>
    <li><a href="#/special.html">专题</a></li>
    <li><a href="#/store.html">店铺</a></li>
    <li><a href="#/points.html">优惠券</a></li>
    <li><a href="#/news">门户</a></li>
    <li><a href="#/bbs">社区</a></li>
    <li><a href="#/what">买什么</a></li>
    <li><a href="#/channel-2.html">频道</a></li>
    <li><a href="#/index.php?w=activity&t=index&activity_id=1">活动</a></li>
    <li><a href="#/flea.html">闲置</a></li>
    <li><a href="#/list-32-0-0-0-0-0-0-0-0-0.html">秋装</a></li>
    <li><a href="#/fenxiao">分销</a></li>
</ul>
<!--导航结束-->