<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="favicon.ico"> 
	<link href="__PUBLIC__/admin/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/admin/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/uploadify/uploadify.css"/>
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script type="text/javascript" src="__PUBLIC__/admin/js/jquery.cityselect.js"></script>
</head>

<script>
var url = "{:url('member/platform_wx')}";
var infoUrl = "{:url('member/platform_wx')}";
</script>

<body class="gray-bg">
<style>
input.error{
	border:1px solid red;
}
span.error{
	padding-top:10px;
	color: #f00;
	font-size:12px;
}
</style>
    <div class="wrapper wrapper-content">

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>微信收款信息</h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" enctype="multipart/form-data" class="form-horizontal" id="form"> 
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-6">
                                    <input type="text" name="name" value="{$info.name}" class="form-control">
                                </div>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">手机号</label>
                                <div class="col-sm-6">
                                    <input type="text" name="telephone" value="{$info.telephone}" class="form-control">
                                </div>
                                <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>
                            </div>
                            <div class="hr-line-dashed"></div>
                            
                            <!--<div class="form-group">-->
                            <!--    <label class="col-sm-2 control-label">手机号</label>-->
                            <!--    <div class="col-sm-6">-->
                            <!--        <input type="text" name="yhshou_timeout" {if condition="isset($order_timeouts['yhshou_timeout'])"}value="{$order_timeouts.yhshou_timeout}"{else/}value=""{/if} class="form-control">-->
                            <!--    </div>-->
                            <!--    <label class="col-sm-1" style="padding-top:7px; color:#F00; font-size:16px;">*</label>-->
                            <!--</div>-->
                            <!--<div class="hr-line-dashed"></div>-->
                            
                            <div class="form-group">
            				<label  class="col-sm-2 control-label">微信二维码:</label>
            				<div class="col-sm-6">
                            <div style="margin-bottom:7px; margin-top:5px;">
                            <img id="imageinfo1" src="{$info.qrcode ? $info.qrcode  : '__PUBLIC__/admin/img/nopic.jpg'}" width="180" height="180" border="0" />
                            <!--<img id="imageinfo1" src="__PUBLIC__/admin/img/nopic.jpg" width="180" height="180" border="0" />-->
                            </div>
                            <div id="uploaderInput1"></div>
                            <input type="hidden" name="qrcode" value="" >
                            </div>
                            </div>
                           
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-primary" type="submit" id="doSubmit" style="margin-right:100px;">保存内容</button>
                                    <button type="reset" class="btn btn-default">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 全局js -->
    <script src="__PUBLIC__/admin/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/admin/js/bootstrap.min.js?v=3.3.6"></script>
    <!-- 自定义js -->
    <script type="text/javascript" src="__PUBLIC__/admin/Huploadify/jquery.Huploadify.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/layer/layer.min.js"></script>
    <script src="__PUBLIC__/admin/js/plugins/validate/jquery.validate.min.js"></script>
    <!-- iCheck -->
    <script src="__PUBLIC__/admin/js/plugins/iCheck/icheck.min.js"></script>
    <script src="__PUBLIC__/admin/js/common/ajax.js"></script>

	<script>
    	$(function(){    		
    	    var icon = "<i class='fa fa-times-circle'></i>&nbsp;&nbsp;";
        	$('#form').validate({
	        	errorElement : 'span',
	        	debug: true,//只验证不提交表单
	        	//layer ajax提交表单
	            submitHandler:function(){
	               // 序列化 表单数据 后提交 ，太简洁了
	            	post(infoUrl,'POST',$('#form').serialize(),1);
	                return false;
	            },//这是关键的语句，配置这个参数后表单不会自动提交，验证通过之后会去调用的方法
	                
	        	rules:{
	        		normal_out_order:{required:true},
	        		rushactivity_out_order:{required:true},
	        		group_out_order:{required:true},
	        		assemorder_timeout:{required:true},
	        		assem_timeout:{required:true},
	        		zdqr_sh_time:{required:true},
	        		check_timeout:{required:true},
	        		shoptui_timeout:{required:true},
	        		yhfh_timeout:{required:true},
	        		yhshou_timeout:{required:true}
	        	},
	        		
	        	messages:{
	        		normal_out_order:{required:icon+'必填'},
	        		rushactivity_out_order:{required:icon+'必填'},
	        		group_out_order:{required:icon+'必填'},
	        		assemorder_timeout:{required:icon+'必填'},
	        		assem_timeout:{required:icon+'必填'},
	        		zdqr_sh_time:{required:icon+'必填'},
	        		check_timeout:{required:icon+'必填'},
	        		shoptui_timeout:{required:icon+'必填'},
	        		yhfh_timeout:{required:icon+'必填'},
	        		yhshou_timeout:{required:icon+'必填'},
	        	}
        	});
      });
          
        $('#uploaderInput1').Huploadify({
            uploader : '{:url("wine_goods/uploadify")}',
            method:'post',
            formData:null,//发送给服务端的参数，格式：{key1:value1,key2:value2}
            buttonText : '上传图像',
            removeTimeout: 2000,
            fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
            fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;*.JPG;*.JPEG;*.GIF;*.PNG;',
            fileObjName: 'filedata', //上传附件$_FILE标识
            fileSizeLimit : 2048,
            //showUploadedPercent:false,//是否实时显示上传的百分比，如20%
            auto : true, //开启,自动上传
            multi : false, //开启,多选文件
            //开始上传
    		onUploadStart:function(file){
    			layer.load(2);
    		},
            onUploadSuccess : function(file, data, response) {
            	//解析成json对象
            	eval('var data='+data);
            	if(data.status == 1){
            		var picpath = data.path;
    	        	$('#imageinfo1').attr('src',picpath.img_url);
    	        	$('.del').show();
    	        	$('input[name=qrcode]').val(picpath.img_url);
            	}else{
            		layer.msg(data.msg, {icon: 2,time: 2000});
            	}
            },
            //上传完成后执行的操作
            onUploadComplete:function(file){
            	layer.closeAll('loading');
            },
            //上传错误
            onUploadError : function(file, errorCode, errorMsg, errorString) {
            	layer.msg('文件' + file.name + '上传失败:' + errorString, {icon: 2,time: 2000});
            }
        });
    	
	  function cl(){
	     location.href = url;
	  }	  
    </script>
        

</body>
</html>
